<!DOCTYPE html>
<html ng-app="pspApp">
<head>
  <title>PspRailsNg</title>

  <link href="dist/css/foundation.css" media="all" rel="stylesheet" />
  <!--<%= csrf_meta_tags %>-->
</head>
<body>

<%= yield %>

<script src="dist/js/app.js"></script>
</body>
</html>
