<!DOCTYPE html>
<html ng-app="pspApp">
<head>
  <title>PspRailsNg</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="dist/app.js"></script>
</body>
</html>
